extends app.layout

block footer
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/vendor.js')
  script(src='/assets/js/core.js')

  div.vote
    iframe(src='http://nodeknockout.com/iframe/team-snacky-cake', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')