extends layout

block content
    //- header
    //-     div.container
    //-         div.pull-left.logo 
    //-             a(href='#') Tandem
    //-         div.pull-right 
    //-             a(href='#') Login

    div.jumbotron
        div.container
            h1 Ready to write? 
            p 
                | Take co-authoring to the next level with Tandem. Virtually collaborate on 
                | your next masterpiece with authors around the world. Ready to get started?
                a(href='/login').login Sign in with GitHub 
                | and start creating your next book now!

    div.columns
        div.container
            div.row
                div.col-md-4
                    h2 Why Git?
                    p 
                        | Built in revisioning makes sure you never lose that amazing chapter.
                div.col-md-4
                    h2 Why ?
                    p blah
                div.col-md-4
                    h2 Why Git?
                    p blah

                


