extends layout

block content
    //- header
    //-     div.container
    //-         div.pull-left.logo 
    //-             a(href='#') Tandem
    //-         div.pull-right 
    //-             a(href='#') Login

    div.jumbotron
        div.container
            h1 Ready to write? 
            p 
                | Take co-authoring to the next level with Tandem. Virtually collaborate on 
                | your next masterpiece with authors around the world. Ready to get started?
            p
                a(href='/login').login Sign in with GitHub 
                | and start creating your next book now!

    div.columns
        div.container
            div.row
                div.col-md-4.column-info
                    img(src='assets/img/GitHub-Mark.png').row-image
                    h2 Why Git?
                    p 
                        | Built in revisioning makes sure you never lose that amazing chapter.
                div.col-md-4.column-info
                    img(src='assets/img/air_plane_airport.png').row-image
                    h2 Write Anywhere
                    p With Tandem, working virtually allows you to write whenever and wherever inspires you. 
                div.col-md-4.column-info
                    img(src='assets/img/arrow-left.png').row-image
                    h2 Collaborate
                    p 
                        | Vice mumblecore fap, ethical art party freegan jean shorts pour-over.  
                        | Pickled bicycle rights Austin 3 wolf moon, +1 Schlitz whatever before they sold out.
    //- footer
    //-     div.container footer stuff

                


