Index Page

<label for="bookName">Book Name</label>
{{input value=bookName type="text" placeholder="Enter your book name"}}
<button id="addBook" {{action 'createBook'}}>Create a new Book</button>

<div class="bookContainer">
	<h2>Books</h2>
	<div class="bookList">
		{{#each book in controller.books.content}}
			<div class="book col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<p class="title">{{book.title}}</p>
				<p class="author">{{book.owner}}</p>
			</div>
		{{/each}}
	</div>
</div>