@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  background-color: #fff;
}

header {
  width: 100%;
  height: 61px;
  color: #fff;
  margin: 0;
  border-bottom: solid 1px #595959;
  background-color: #eee;
}

h1 {
  font-weight: lighter;
  letter-spacing: 2px;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-top: 30px;
}

.logo a {
  font-size: 24px;
  color: #595959;
  /*font-weight: lighter;*/
}

.logo a:hover {
  text-decoration: none;
}

.login {
  /*background-color: #69BFAF;*/
  color: #0FA68A;
}

.login:hover {
  color: #69BFAF;
  text-decoration: none;
}

.columns {
  border-bottom: solid 1px #8FD8CA;
  border-top: solid 1px #8FD8CA;
  width: 100%;
  height: 200px;
  color: #333;
  background-color: #A7F2E4
}

.column-info {
  margin-top: 10px;
}

h2 {
  margin-top: 10px;
  font-weight: lighter;  
}

.row-image {
  float: left;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #666;
  width: 100%;
  height: 140px;
}